:root {
  --text: #1f2328;
  --bg: #fff;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 1rem/1.45 var(--sans);
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}
